body, html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fab;
}

body {
	--sizing: 25px;
	font-family: 'Courier New';
	font-size: 14px;
	overflow: hidden;
	--menu-width: 300px;
	--toolbar-height: 40px;
}

#simViewport {
	border-left: 1px solid #444;
	border-top: 1px solid #444;
	width: calc(100% - var(--menu-width) - 2px);
	height: calc(100% - var(--toolbar-height) - 2px);
	left: var(--menu-width);
	top:var(--toolbar-height);
	position: absolute;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: white;
	cursor: crosshair;
	
}

#simGrid, #simCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#simClickbox {
	z-index: 5;
	background-image: url("./gfx/dot.png");

	/* margin: calc(var(--sizing) * 0.5); */
	background-repeat: repeat;
	background-position: calc(var(--sizing) * 0.5) calc(var(--sizing) * 0.5);
	
}

#simCanvas {
	z-index: 10;
	pointer-events: none;

}

#menu {
	background-color: #FFF;
	width: calc(var(--menu-width) - 32px);
	height: calc(100% - 32px);
	position: absolute;
	padding: 16px;
	top: 0;
	left: 0;
}

#toolbar {
	background-color: #EEE;
	height: calc(var(--toolbar-height));
	width: calc(100% - var(--menu-width) - 1px);
	position: absolute;
	top: 0;
	left: var(--menu-width);
	font-size: 0;
	border-left: 1px solid #444;
}

#toolbar p {
	color: white;
	background-color: #FA4;
	padding: 8px;
	width: fit-content;
	cursor: pointer;
	display: inline-block;
	margin: 0;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 14px;
	font-weight: bold;
	font-family: 'Arial';
	font-style: italic;
}

#toolbar p:hover {
	background-color: #D82;
}
