body, html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #fab;
}

body {
	--sizing: 25px;
	font-family: 'Courier New';
	font-size: 14px;
	overflow: hidden;
}

#simViewport {
	width: 80%;
	height: 100%;
	left: 20%;
	top: 0;
	position: absolute;
	overflow-x: scroll;
	overflow-y: scroll;
	background-color: white;
	cursor: crosshair;
	
}

#simGrid, #simCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#simClickbox {
	z-index: 5;
	background-image: url("./gfx/dot.png");

	/* margin: calc(var(--sizing) * 0.5); */
	background-repeat: repeat;
	background-position: calc(var(--sizing) * 0.5) calc(var(--sizing) * 0.5);
	
}

#simCanvas {
	z-index: 10;
	pointer-events: none;

}



#menu {
	background-color: #EEE;
	width: calc(20% - 2px - 32px);
	border-right: 2px solid #444;
	height: calc(100% - 32px);
	position: absolute;
	padding: 16px;
	top: 0;
	left: 0;
}

#menu p {
	color: white;
	background-color: #97F;
	padding: 8px;
	width: fit-content;
	cursor: pointer;
}

#menu p:hover {
	background-color: #64D;
}
