

body > article {
	width: 80%;
	max-width: 960px;
	min-height: calc(100vh - 40px);
	margin: auto;
	display: block;
	margin-top: 0;
	--sizing: 20px;
	padding: var(--sizing);
	border-right: 1px solid black;
	border-left: 1px solid black;
}

body[fullarticle] {
	background-color: #F8F8F8;
	margin: 0;
	padding: 0;
	width: 100%; 
	overflow-y: scroll;
}

article h1 {
	text-align: center;
}

article h3 {
	font-size: 24px;
}

article p {
	text-align: justify;
}

article {
	margin: 0;
	background-color: white;
	padding: var(--sizing);
	font-family: 'Arial';
	font-size: 22px;
}

code {
	background-color: #EEE;
	padding-left: 4px;
	padding-right: 4px;
	border-radius: 3px;
	font-family: 'Courier New';
	font-size: 18px;
}

textarea {
	font-size: 22px;
}