#contextMenu {
	display: none;
	position: absolute;
	z-index: 1000;
	background-color: var(--c-pale);
	border: 1px solid var(--c-borders);
	margin: 0;
	padding: 0;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-family: 'Verdana', sans;
}

#contextMenu li {
	display: block;
	padding: 4px;
	margin-bottom: -4px;
	list-style-type: none;
	margin: 0;
	background-color: inherit;
	transition: background-color 0.1s, color 0.1s;
	cursor: pointer;
}

#contextMenu li:last-child {
	margin-bottom: 0;
}

#contextMenu li:hover {
	color: var(--c-bg);
	background-color: var(--c-accent);
}

#contextMenu li.inactive {
	color: var(--c-borders);
	cursor: default;
}

#contextMenu li.inactive:hover {
	background-color: inherit;
}

#contextMenuBackdrop {
	position: absolute;
	z-index: 999;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
}

#contextMenu li.hasIcon img {
	margin: 0;
	margin-right: 4px;
	vertical-align: bottom;
}

#contextMenu li[noclose] {
	background-color: red;
}
