#details input, #details label {
	display: block;
	width: 100%;
}

#details > * {
	margin: 0;
	margin-bottom: calc(var(--sizing) / 2);
}

#details > *:last-child {
	margin-bottom: 0;
}

#details > hr {
	border: none;
	border-bottom: 1px solid var(--c-borders);
}

#details input, #details select {
	display: block;
	width: 100%;
	padding: 4px;
	border: 1px solid var(--c-borders);
	border-radius: 0;
	background-color: var(--c-pale);
}

#details input[type="number"] {
	width: calc(100% - 10px);
}

#details input[type="button"] {
	cursor: pointer;
	display: inline-block;
	transition: background-color 0.1s, color 0.1s;
}

#details input[type="button"]:hover {
	background-color: var(--c-accent);
	color: var(--c-bg);
}

#details input[type="button"].half {
	width: calc(50% - var(--sizing) / 4);
}

#details input[type="button"].half:nth-of-type(even) {
	
	margin-left: calc(var(--sizing) / 2);
}