body, html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

body {
	--c-bg: white;
	--c-borders: #444;
	--c-text: black;
	--c-pale: #EEE;
	--c-accent: green;
	--sizing: 25px;
}


body {
	font-family: 'Courier New';
	font-size: 14px;
	overflow: hidden;
	--menu-width: 300px;
	--toolbar-height: 40px;
	background-color: var(--c-bg);
}

.mainWindow {

	border: 1px solid var(--c-text);
	border-right: 0;
	width: calc(100% - var(--menu-width) - 2px);
	height: calc(100% - var(--toolbar-height) * 2 - 2px);
	left: var(--menu-width);
	top:var(--toolbar-height);
	position: absolute;
	overflow-y: scroll;
	
}

#simViewport {
	overflow-x: scroll;
}

#simGrid, #simCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#simClickbox {
	z-index: 5;
	background-image: url("../gfx/dot.png");

	/* margin: calc(var(--sizing) * 0.5); */
	background-repeat: repeat;
	background-position: calc(var(--sizing) * 0.5) calc(var(--sizing) * 0.5);
	
}

#simCanvas {
	z-index: 10;
	pointer-events: none;

}


#details {
	position: absolute;
	top: 60vh;
	height: 40vh;
	
	width: calc(var(--menu-width));
	overflow-y: scroll;
}

.bar {
	
	height: calc(var(--toolbar-height));
	width: calc(100% - var(--menu-width) - 1px);
	position: absolute;
	
	left: var(--menu-width);
	font-size: 0;
	border-left: 1px solid var(--c-borders);

	background-color: var(--c-pale);
}

#toolbar {
	top: 0;
}

#statusbar {
	bottom: 0;
}

.bar p {
	color: white;
	background-color: var(--c-borders);
	padding: 8px;
	width: fit-content;
	display: inline-block;
	margin: 0;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 14px;
	vertical-align: top;
	transition: background-color 0.1s;
	
}

.bar p:hover {
	background-color: var(--c-accent);
}

.bar p.command {
	font-weight: bold;
	font-family: 'Arial';
	font-style: italic;
	cursor: pointer;
}

.bar p.textDisplay {
	background-color: var(--c-bg);
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
	font-family: 'Courier New';
	color: var(--c-text);
	width: 300px;
}

#statusbar p:last-child {
	width: calc(100% - 345px);
}

#noteArea h1 {
	text-align: center;
}

#noteArea p {
	text-align: justify;
}

#noteText {
	margin: 0;
	background-color: white;
	padding: var(--sizing);
	font-family: 'Times';
	font-size: 22px;
}


.invisible {
	display: none !important;
}
