body, html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

body {
	--sizing: 25px;
	font-family: 'Courier New';
	font-size: 14px;
	overflow: hidden;
	--menu-width: 300px;
	--toolbar-height: 40px;
	background-color: white;
}

.mainWindow {

	border: 1px solid #444;
	border-right: 0;
	width: calc(100% - var(--menu-width) - 2px);
	height: calc(100% - var(--toolbar-height) * 2 - 2px);
	left: var(--menu-width);
	top:var(--toolbar-height);
	position: absolute;
	overflow-y: scroll;
	
}

#simViewport {
	overflow-x: scroll;
}

#simGrid, #simCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#simClickbox {
	z-index: 5;
	background-image: url("../gfx/dot.png");

	/* margin: calc(var(--sizing) * 0.5); */
	background-repeat: repeat;
	background-position: calc(var(--sizing) * 0.5) calc(var(--sizing) * 0.5);
	
}

#simCanvas {
	z-index: 10;
	pointer-events: none;

}

#explorer {
	

  --sizing: 20px;
  --text: #222;
  --lines: #777;
  --bg: #fff;


  width: calc(var(--menu-width));
  height: calc(60vh - var(--sizing) - 1px);
  position: absolute;
  top: 0;
  left: 0;

  background-color: var(--bg);

  image-rendering: crisp-edges;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0;

  left: calc(var(--sizing) * -1);
  padding: calc(var(--sizing) / 2);
  border-bottom: 1px solid #444;

  overflow-y: scroll;
  overflow-x: hidden;

  font-family: "Courier New";
}

#details {
	position: absolute;
	top: 60vh;
	height: 40vh;
	
	width: calc(var(--menu-width));
	overflow-y: scroll;
}

.bar {
	
	height: calc(var(--toolbar-height));
	width: calc(100% - var(--menu-width) - 1px);
	position: absolute;
	
	left: var(--menu-width);
	font-size: 0;
	border-left: 1px solid #444;

	background-color: #f8f8f8;
}

#toolbar {
	top: 0;
}

#statusbar {
	bottom: 0;
}

.bar p {
	color: white;
	background-color: #FA4;
	padding: 8px;
	width: fit-content;
	display: inline-block;
	margin: 0;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 14px;
	vertical-align: top;
	
}

.bar p:hover {
	background-color: #D82;
}

.bar p.command {
	font-weight: bold;
	font-family: 'Arial';
	font-style: italic;
	cursor: pointer;
}

.bar p.textDisplay {
	background-color: #fff;
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
	font-family: 'Courier New';
	color: #000;
	width: 300px;
}

#statusbar p:last-child {
	width: calc(100% - 345px);
}

#noteArea h1 {
	text-align: center;
}

#noteArea p {
	text-align: justify;
}

#noteText {
	margin: 0;
	background-color: white;
	padding: var(--sizing);
	font-family: 'Times';
	font-size: 22px;
}


.invisible {
	display: none !important;
}
