body, html {
	position: relative;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
}

body {
	--c-bg: white;
	--c-borders: #444;
	--c-text: black;
	--c-pale: #EEE;
	--c-accent: #00E;
	--sizing: 25px;
}


body {
	font-family: 'Courier New';
	font-size: 14px;
	overflow: hidden;
	--menu-width: 300px;
	--toolbar-height: 40px;
	background-color: var(--c-pale);
	background-image: url("../gfx/logobg.png");
	background-size: 50px;
	background-repeat: repeat;
	background-position: center;
}

pre {
	margin: 0;
}

.mainWindow {

	width: calc(100% - var(--menu-width));
	height: calc(100% - var(--toolbar-height) * 2);
	left: var(--menu-width);
	top:var(--toolbar-height);
	position: absolute;
	overflow-y: scroll;
	background-color: var(--c-bg);
	
}

#simViewport {
	overflow-x: scroll;
}

#simGrid, #simCanvas {
	position: absolute;
	top: 0;
	left: 0;
}

#simClickbox {
	z-index: 5;
	background-image: url("../gfx/dot.png");

	/* margin: calc(var(--sizing) * 0.5); */
	background-repeat: repeat;
	background-position: calc(var(--sizing) * 0.5) calc(var(--sizing) * 0.5);
	
}

#simCanvas {
	z-index: 10;
	pointer-events: none;

}

#explorer, #details {
	border-right: 1px solid var(--c-borders);
	overflow-y: scroll;
	width: calc(var(--menu-width) - var(--sizing) - 1px);
	background-color: var(--c-bg);
	padding: calc(var(--sizing) / 2);
}

#explorer { 
	height: calc(60vh - var(--sizing) - 1px);
	position: absolute;
	top: 0;
	border-bottom: 1px solid var(--c-borders);
}

#details {
	position: absolute;
	top: 60vh;
	height: calc(40vh - var(--sizing));
	left: 0;
}


.bar {
	
	height: calc(var(--toolbar-height) - 1px);
	width: calc(100% - var(--menu-width));
	position: absolute;
	left: var(--menu-width);
	font-size: 0;
	background-color: var(--c-pale);
}

#toolbar {
	border-bottom: 1px solid var(--c-borders); 
	top: 0;
}

#statusbar {
	border-top: 1px solid var(--c-borders);
	bottom: 0;
}

.bar p {
	color: white;
	background-color: var(--c-borders);
	padding: 8px;
	width: fit-content;
	display: inline-block;
	margin: 0;
	margin-left: 4px;
	margin-top: 4px;
	font-size: 14px;
	vertical-align: top;
	transition: background-color 0.1s;
	
}

.bar p:hover {
	background-color: var(--c-accent);
}

.bar p.command {
	font-weight: bold;
	font-family: 'Arial';
	font-style: italic;
	cursor: pointer;
}

.bar p.textDisplay {
	background-color: var(--c-bg);
	box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
	font-family: 'Courier New';
	color: var(--c-text);
	width: 300px;
}

#statusbar p:last-child {
	width: calc(100% - 345px);
}

.invisible {
	display: none !important;
}

#noteEditor {
	background-color: var(--c-pale);
}

#noteEditor textarea {
	background-color: var(--c-bg);
	padding: 0;
	border: 0;
	display: block;
	margin: var(--sizing);
	padding: var(--sizing);
	width: calc(100% - var(--sizing)*4);
	height: calc(100% - var(--sizing)*4);
}
